@model IList<SimuladorFinanciero.Entities.Sugerencia>
@using SimuladorFinanciero.Helpers
@{
    Layout = "~/Views/Shared/_AdministradorLayoutContacto.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-section">Contactos</h2>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary" data-collapsed="0">
                        <div class="panel-body">
                            <div class="row">
                                @using (Ajax.BeginForm("Contactos", "Administrador", new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace
                                }, new
                                {
                                    role = "form",
                                }))
                                {
                                    <div class="col-md-2">
                                        @Html.DropDownList("Tipo", ViewBag.TipoContactoList as SelectList, "Todos", new { @class = "form-control" })
                                    </div>
                                    <div class="input-daterange">
                                        <div class="form-group">
                                            <label for="fechaInicio" style="margin-top: 7px;width: 50px;" class="col-sm-3 control-label">Desde</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="fechaInicio" name="start" class="form-control" value="@ViewBag.FechaDesde.ToString(Formatos.FechaFormat)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="fechaFin" style="margin-top: 7px;width: 50px;" class="col-sm-3 control-label">Hasta</label>
                                            <div class="col-sm-2">
                                                <input type="text" id="fechaFin" name="end" class="form-control" value="@ViewBag.FechaHasta.ToString(Formatos.FechaFormat)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="padding-bottom: 8px;">
                                        <button id="btnFiltrar" type="submit" class="btn-icon btn-blue btn">
                                            Filtrar
                                            <i class="fa fa-filter" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    @*@ViewBag.FechaDesde.ToString(Formatos.FechaFormat)
                                        @ViewBag.FechaHasta.ToString(Formatos.FechaFormat)*@
                                    <div class="col-md-1">
                                        <a href="@Url.Action("ExportExcelContactos", "Administrador", new RouteValueDictionary(new { Desde = ViewBag.FechaDesde, Hasta = ViewBag.FechaHasta, Tipo = ViewBag.Tipo }))">
                                            <button type="button" class="btn btn-green btn-icon">
                                                Descargar
                                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                            </button>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover datatable" id="table-1">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th width="15%">Fecha</th>
                                    <th>Asunto</th>
                                    <th width="15%">Nombre</th>
                                    <th>Correo electrónico</th>
                                    <th width="40%">Mensaje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                                        <td>@item.Parametro.Nombre</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.Correo</td>
                                        <td class="mensaje">
                                            @item.Descripcion
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="main">
                &copy; 2016 <strong>Administrador - Simulador Financiero</strong>
            </footer>
        </div>
    </div>
</div>

@Scripts.Render("~/Administrador/jsContacto1")
<script src="~/Scripts/Contactos.js"></script>
<script>
    $(document).ready(function () {


        $("#table-1").DataTable({
            lengthChange: false,
            ordering: false,
            searching: false,
            info: false,
            pageLength: 15,
            order: [[0, "DESC"]],
            language: {
                url: '../assets/js/datatable-spanish.json'
            }
        });
    });
</script>
@Scripts.Render("~/Administrador/jsContacto2")