@model IList<SimuladorFinanciero.Entities.Archivo>

@section ScriptHead
{
    @Styles.Render("~/Administrador/css")
    @Scripts.Render("~/Administrador/jsTop")
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-section">Versiones de archivos</h2>
            <br />
            <div class="row">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Acción</th>
                                    <th>Descargar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr @(item.Estado == "0501" ? "class=active-reg" : "")>
                                        <td>@i</td>
                                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                                        <td>@(item.Estado == "0501" ? item.Parametro.Nombre : "")</td>
                                        <td>
                                            @if (item.Estado != "0501")
                                            {
                                                <a href="@Url.Action("ActivarExcel", "Administrador", new RouteValueDictionary(new { ArchivoId = item.ArchivoId}))" class="active-file">
                                                    <button type="button" class="btn btn-blue btn-icon">
                                                        <i class="entypo-check"></i> Activar
                                                    </button>
                                                </a>

                                            }
                                        </td>
                                        <td>
                                            @*@Html.ActionLink("<i class='fa fa - download ico - lista - descarga' aria-hidden='true'></i>", "DownloadExcel", "Administrador", new RouteValueDictionary(new { Nombre = item.Nombre }), new { onclick = "return confirm('Are you sure you wish to delete this article?');" })*@
                                            <a href="@Url.Action("DownloadExcel", "Administrador", new RouteValueDictionary(new { Nombre = item.NombreXLS }))">
                                                <i class="fa fa-download ico-lista-descarga" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            @if (item.Estado != "0501")
                                            {
                                                <a href="@Url.Action("EliminarExcel", "Administrador", new RouteValueDictionary( new { ID = item.ArchivoId }))" class="remove-file">
                                                    <i class="fa fa-trash-o ico-lista-eliminar" aria-hidden="true">
                                                    </i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <footer class="main">
                &copy; @DateTime.Now.Year.ToString() <strong>Administrador - Simulador Financiero</strong>
            </footer>
        </div>
    </div>
</div>
@section ScriptBottom{
    @Scripts.Render("~/Administrador/jsBottom")
    <script src="~/Scripts/ListaArchivos.js"></script>
}
