<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .file-input-wrapper {
            overflow: hidden;
            position: relative;
            cursor: pointer;
            z-index: 1;
        }

            .file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
                z-index: 99;
                outline: 0;
            }

        .file-input-name {
            margin-left: 8px;
        }
    </style>
    @Styles.Render("~/Administrador/css")
    @Scripts.Render("~/Administrador/jsTop")
</head>
<body class="page-body">
    <div class="page-container horizontal-menu">
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="navbar-brand">
                    <a href="index.html">
                        <p class="title title-log">Simulador Financiero</p>
                    </a>
                </div>
                <ul class="navbar-nav">
                    <li>
                        <a href="@Url.Action("ListaArchivos","Administrador")">
                            <i class="fa fa-list" aria-hidden="true"></i>&nbsp;
                            <span class="title">Versiones de Archivos</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SubirArchivo","Administrador")">
                            <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                            <span class="title">Cargar Archivo Base</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("Contactos", "Administrador")">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                            <span class="title">Contactos</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-right pull-right">
                    <li class="visible-xs">
                        <div class="visible-xs">
                            <a href="#" class="">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed">
                                        <i class="entypo-menu icon-menu"></i>
                                    </button>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <div id="menu-mobile" class="sidebar right">
            <div class="container-fluid">
                <div class="row btm-wthborder"><i class="fa fa-angle-double-left btn-close"></i></div>
                <div class="row btm-border">
                    <a href="@Url.Action("ListaArchivos", "Administrador")" class="sider_menu_item">Versiones de archivos</a>
                </div>
                <div class="row btm-border">
                    <a href="@Url.Action("SubirArchivo", "Administrador")" class="sider_menu_item">Cargar archivo base</a>
                </div>
                <div class="row btm-border">
                    <a href="@Url.Action("Contactos", "Administrador")" class="sider_menu_item">Contactos</a>
                </div>
            </div>
        </div>
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
