@model SimuladorFinanciero.Entities.Sugerencia

@section ScriptHead{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    @Scripts.Render("~/Front/basejs")
    @Scripts.Render("~/Front/confirm")
    @Scripts.Render("~/Front/blockui")
    @Styles.Render("~/Front/basecss")
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var verifyCallback = function (response) {
            // aqui llena un elemento hiden o input o algo y cuando haces tu jquery jalas
            // ese elemento para validacion, si esta lleno pasa sino entonces No pasa xk nunca le dio click
            console.log(response);
            var r = new XMLHttpRequest();
            r.open("POST", "https://www.google.com/recaptcha/api/siteverify", true);
            r.onreadystatechange = function () {
                if (r.readyState != 4 || r.status != 200) {
                    return;
                }
                console.log(r.responseText);
            };
            r.send("secret=6LcayCETAAAAAHzSn9k4xYANvuncIzX22VW2KKJg&response=" + response);
        };
        var onloadCallback = function () {
            grecaptcha.render('myCaptcha', {
                'sitekey': '6LcayCETAAAAAHzSn9k4xYANvuncIzX22VW2KKJg',
                'callback': verifyCallback,
                'theme': 'light'
            });
        };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
}
<div id="overlay-success">
    <div id="success-send">
        <i class="fa fa-times close" aria-hidden="true"></i>
        <img src="../images/check-success.png" border="0" />
        <p>Los datos fueron registrados correctamente.</p>
    </div>
</div>
<section class="row">
    <div class="center">
        <div class="page a">
            <h1>Contacto</h1>
            <div class="f-content">
                @using (Ajax.BeginForm("GuardarContacto", "Front", new AjaxOptions { HttpMethod = "POST" }))
                {
                    <div class="row">
                        <p>@Html.DisplayNameFor(m => m.Nombre)</p>
                        @Html.TextBoxFor(m => m.Nombre, new { @class = "nombres-apellidos", placeholder = "Nombres y apellidos" })
                        @*<input type="text"  />*@
                    </div>
                    <div class="row">
                        <p>@Html.DisplayNameFor(m => m.Correo)</p>
                        @Html.TextBoxFor(m => m.Correo, new { @class = "email", placeholder = "Correo electrónico", type = "email" })
                        @*<input class="email" type="email" placeholder="Correo electrónico" />*@
                    </div>
                    <div class="row">
                        <p>@Html.DisplayNameFor(m => m.Tipo)</p>
                        <div class="btn-asunto">
                            <div class="select">
                                <input class="asunto" disabled type="text" placeholder="Seleccione asunto" />
                                <div class="sc">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            </div>
                            <ul>
                                <li data-rel="">Consulta</li>
                                <li data-rel="">Sugerencias</li>
                                <li data-rel="">Otros</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <p>@Html.DisplayNameFor(m => m.Descripcion)</p>
                        @Html.TextAreaFor(m => m.Descripcion, new { @class = "mensaje", placeholder = "Mensaje" })
                        @*<textarea class="mensaje" placeholder="Mensaje"></textarea>*@
                    </div>
                    <div class="row">
                        <div class="g-recaptcha" id="myCaptcha"></div>
                    </div>
                <!--<a href="#" class="btn-Enviar">Enviar</a>-->
                    @*<input type="submit" id="enviar-now" class="btn-Enviar" value="Enviar" />*@
                    <input type="submit" id="enviar-now" class="btn-Enviar" value="Enviar" />
                }
            </div>
        </div>
    </div>
</section>
<input id="url" type="hidden" data-urlcorrecto="@Url.Action("Contacto","Front")" data-urlguardar="@Url.Action("GuardarContacto","Front")" />