@using SimuladorFinanciero.Entities
@using SimuladorFinanciero.Helpers
@using SimuladorFinanciero.Core
@using System
@section ScriptHead{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/Front/confirm")
    @Scripts.Render("~/Front/basejs")
    @Styles.Render("~/Front/basecss")
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
}

@section Titulo{
    <p class="title">Simulador Financiero</p>
}

@section ScriptBottom{
    <script>
        $(document).ready(function () {
            $('#hdMensajeValidacionBanco').val('Debe seleccionar por lo menos @ViewBag.MensajeBancoEmpresaJS')
            $('#frmFiltroResultado').submit(function (e) {

                var bancosArray = [];
                var bancosFormat = '';
                var periodo = $('#periodo');

                if ($('#bancos ul li label').hasClass('selected') != true) {
                    $.alert({
                        title: '¡Aviso!',
                        content: $('#hdMensajeValidacionBanco').val(),
                        confirmButton: 'Aceptar',
                        confirmButtonClass: 'error'
                    });

                    return false
                }

                if ($('#txtMonto').val() == '') {
                    $.alert({
                        title: '¡Aviso!',
                        content: 'Debe ingresar un monto',
                        confirmButton: 'Aceptar',
                        confirmButtonClass: 'error'
                    });

                    return false
                }

                $.each($('#bancos ul li label'), function (i, val) {

                    if ($(val).hasClass('selected')) {
                        bancosArray.push($(val).find('input').data('id'))
                    }

                });

                if (bancosArray.length > 0) {
                    $.each(bancosArray, function (i, val) {

                        if (bancosArray.length == (i + 1)) {
                            bancosFormat += val;
                        } else {
                            bancosFormat += val + ',';
                        }

                    });

                    $("#hdBancos").val(bancosFormat);

                }
                else {
                    $.alert({
                        title: '¡Aviso!',
                        content: 'Debe ingresar un monto',
                        confirmButton: 'Aceptar',
                        confirmButtonClass: 'error'
                    });

                    return false;
                }

                if (periodo.length > 0) {
                    if (periodo.val() == '') {
                        $.alert({
                            title: '¡Aviso!',
                            content: 'Debe seleccionar un periodo',
                            confirmButton: 'Aceptar',
                            confirmButtonClass: 'error'
                        });
                        return false;
                    }
                    else {
                        return true;
                    }
                }
                else {
                    return true;
                }

                e.preventDefault();
            });

            setTimeout(
            function () {
                $('.accordion ul li > a.title').each(function () {
                    if ($(this).hasClass('show')) {
                        $(this).next().css('display', 'block');
                    }
                });
            }, 200
            );

            //$('#enviodinero').click(function () {
            //    $('#hdIdProducto').val('0');
            //    $('#hdIdTipo').val($(this).data('tipo'));

            //    $('.accordion ul li .content a').each(function () {
            //        $(this).removeClass('selected');
            //        //$(this).find("input").attr('checked', false);
            //    });
            //});

            $('#btnEnviar').click(function () {

                var eFormat = /[\w-\.]{2,}@@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;

                if ($('#enviar .email').val() === "") {
                    $.alert({
                        title: '¡Aviso!',
                        content: 'Debe ingresar su email',
                        confirmButton: 'Aceptar',
                        confirmButtonClass: 'error'
                    });
                    return false;
                } else if (!eFormat.test($('#enviar .email').val().trim())) {
                    $.alert({
                        title: '¡Aviso!',
                        content: 'Debe ingresar un formato de email valido',
                        confirmButton: 'Aceptar',
                        confirmButtonClass: 'error'
                    });
                    return false;
                }

                $('#overlay-loading').fadeIn('fast');
                var ParaTextBox = { "Para": $('#txtemail').val(),
                    "Tipo": '@ViewBag.TipoNombre',
                    "IdProducto": @ViewBag.Producto.IdProducto,
                    "Monto": @ViewBag.Monto,
                    "Periodo": @ViewBag.Periodo,
                    "Bancos": '@ViewBag.BancosString', };
                $.ajax({
                    type: "POST",
                    url: $('#url').data('urlenviarmail'),
                    data: JSON.stringify(ParaTextBox),
                    dataType: "json",
                    contentType: 'application/json',
                    processData: false,
                    success: function (response) {
                        if (response.Estado == "OK") {
                            $('#overlay-loading').fadeOut();
                            $('#overlay-success').fadeIn('fast');
                        }
                        else {
                            $('#overlay-loading').fadeOut();
                            $.alert({
                                title: response.Titulo,
                                content: response.Texto,
                                confirmButton: 'Aceptar',
                                confirmButtonClass: 'error'
                            });
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        $('#overlay-loading').fadeOut();
                        $.alert({
                            title: "Aviso!",
                            content: error,
                            confirmButton: 'Aceptar',
                            confirmButtonClass: 'error'
                        });
                    }
                });
            });

            if($('.result .bank').length == 1){
                $('.result .bank .summary').addClass('show').next().slideDown();
            }

            setTimeout(function(){

                var producto = $('#hdIdProducto').val();

                $('.be-seleccion').each(function(){
                    var productos = $(this).data('productos');
                    var result = $.inArray(parseInt(producto),productos);
                    if (result == -1) {
                        $(this).parent().parent().addClass('hide-be');
                        $(this).attr('checked',false);
                        $(this).parent().removeClass('selected');
                    } else {
                        $(this).parent().parent().removeClass('hide-be');
                    }
                });

            }, 200
);
        });
    </script>
}

<div id="overlay-loading">
    <div id="loading-contacto">
        <img src="../images/loadingContacto.gif" border="0" />
        <p>Espere un momento</p>
    </div>
</div>
<div id="overlay-success">
    <div id="success-send">
        <i class="fa fa-times close" aria-hidden="true"></i>
        <img src="../images/check-success.png" border="0" />
        <p>El correo se envió correctamente</p>
    </div>
</div>
<div class="navi-left">
    <a class="btn-Editar"><i></i> Editar</a>
    <a class="btn-Exportar" href="@Url.Action("ExportExcelRespuesta", "Front", new { Tipo = ViewBag.TipoNombre, IdProducto = ViewBag.Producto.IdProducto, Monto = ViewBag.Monto, Periodo = ViewBag.Periodo, Bancos = ViewBag.BancosString })"><i></i> Exportar</a>
    <a class="btn-Enviar mobile fancybox" href="#enviar"><i></i> Enviar</a>
</div>
@using (Html.BeginForm("Resultado", "Front", FormMethod.Post, new { @id = "frmFiltroResultado" }))
{
    <div id="editar">
        <i class="fa fa-times-circle close" aria-hidden="true"></i>
        <div class="cscroll">
            <p class="sub">1. Selecione un producto</p>
            <div class="accordion">
                <ul>
                    <li class="a">
                        @if (ViewBag.IdTipo == 1)
                        {
                            <a class="title show">Medios de pago <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <div class="content">
                                @foreach (Producto i in ViewBag.ListaMediosDePago)
                                {
                                    if (ViewBag.Producto.IdProducto == i.IdProducto)
                                    {
                                        <a class="item selected"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="1" />@i.Nombre.Substring(4)</a>
                                    }
                                    else
                                    {
                                        <a class="item"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="1" />@i.Nombre.Substring(4)</a>
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <a class="title">Medios de pago <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <div class="content">
                                @foreach (Producto i in ViewBag.ListaMediosDePago)
                                {
                                    if (ViewBag.Producto.IdProducto == i.IdProducto)
                                    {
                                        <a class="item selected"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="1" />@i.Nombre.Substring(4)</a>
                                    }
                                    else
                                    {
                                        <a class="item"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="1" />@i.Nombre.Substring(4)</a>
                                    }
                                }
                            </div>
                        }

                    </li>
                    <li class="b">
                        @if (ViewBag.IdTipo == 2)
                        {
                            <a class="title show">Financiamiento <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <div class="content">
                                @foreach (Producto i in ViewBag.ListaFinanciamiento)
                                {
                                    if (ViewBag.Producto.IdProducto == i.IdProducto)
                                    {
                                        <a class="item selected"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="2" />@i.Nombre.Substring(4)</a>
                                    }
                                    else
                                    {
                                        <a class="item"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="2" />@i.Nombre.Substring(4)</a>
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <a class="title">Financiamiento <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <div class="content">
                                @foreach (Producto i in ViewBag.ListaFinanciamiento)
                                {
                                    if (ViewBag.Producto.IdProducto == i.IdProducto)
                                    {
                                        <a class="item selected"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="2" />@i.Nombre.Substring(4)</a>
                                    }
                                    else
                                    {
                                        <a class="item"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="2" />@i.Nombre.Substring(4)</a>
                                    }
                                }
                            </div>
                        }
                    </li>
                    <li class="c">
                        @if (ViewBag.IdTipo == 3)
                        {
                            <a class="title show">Garantías <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <div class="content" style="display: block;">
                                @foreach (Producto i in ViewBag.ListaGarantias)
                                {
                                    if (ViewBag.Producto.IdProducto == i.IdProducto)
                                    {
                                        <a class="item selected"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="3" />@i.Nombre.Substring(4)</a>
                                    }
                                    else
                                    {
                                        <a class="item"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="3" />@i.Nombre.Substring(4)</a>
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <a class="title">Garantías <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <div class="content">
                                @foreach (Producto i in ViewBag.ListaGarantias)
                                {
                                    if (ViewBag.Producto.IdProducto == i.IdProducto)
                                    {
                                        <a class="item selected"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="3" />@i.Nombre.Substring(4)</a>
                                    }
                                    else
                                    {
                                        <a class="item"><input type="radio" name="rbProducto" class="radiobutton" value="@i.IdProducto" data-tipo="3" />@i.Nombre.Substring(4)</a>
                                    }
                                }
                            </div>
                        }

                    </li>
                    <li class="d">
                        @if (ViewBag.IdTipo == 4)
                        {
                            <a class="title show" id="enviodinero" data-tipo="4" data-idproducto="@ViewBag.ListaEnvioDinero[0].IdProducto">Envío de dinero <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        }
                        else
                        {
                            <a class="title" id="enviodinero" data-tipo="4" data-idproducto="@ViewBag.ListaEnvioDinero[0].IdProducto">Envío de dinero <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        }
                    </li>
                </ul>
            </div>
            <p class="sub">2. Selecione e ingrese los datos</p>
            <div class="middle">
                <a href="#bancos" class="btn-bank fancybox">
                    <div class="banco">Seleccionar @ViewBag.BancoEmpresa (s)</div>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <!-- selecionar active
                    <div class="banco active">BBVA Banco Continental, Banco Financiero...</div>
                    <i class="fa fa-check active" aria-hidden="true"></i>
                    -->
                </a>
                <div class="btn-money"><span>$</span><input id="txtMonto" name="txtMonto" type="text" maxlength="10" placeholder="Ingresar monto Ej.: 60.5" value="@Formatos.ConvertirNumeroFormat(Convert.ToDecimal(ViewBag.Monto))" /></div>
                <div class="btn-days">
                    <div class="select">
                        <input disabled type="text" placeholder="Seleccione un período (30, 60 ó 90 días)" value="@ViewBag.Periodo días" />
                        <div class="sc">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <ul>
                        <li data-rel="30">30 días</li>
                        <li data-rel="60">60 días</li>
                        <li data-rel="90">90 días</li>
                    </ul>
                </div>
                <input type="hidden" id="hdIdTipo" name="hdIdTipo" value="@ViewBag.IdTipo" />
                <input type="hidden" id="hdTipoNombre" name="hdTipoNombre" value="@ViewBag.TipoNombre" />
                <input type="hidden" id="hdIdProducto" name="hdIdProducto" value="@ViewBag.IdProducto" />
                <input type="hidden" id="hdBancos" name="hdBancos" value="@ViewBag.BancosString" />
                <input type="hidden" id="hdPeriodo" name="hdPeriodo" value="@ViewBag.Periodo" />
                <input type="submit" class="btn-Actualizar" value="Actualizar" />
                @*<a href="@Url.Action("Resultado","Front")" class="btn-Actualizar">Actualizar</a>*@
            </div>
        </div>
    </div>
}
<section class="row">
    <div class="center">
        <div class="page result">
            <p class="txt-a">Resultados</p>
            @if (ViewBag.IdTipo == 4)
            {
                <h1>@ViewBag.Producto.Nombre.Substring(4)</h1>
            }
            else
            {
                <h1>@ViewBag.TipoNombre - @ViewBag.Producto.Nombre.Substring(4)</h1>
            }
            <p class="txt-b">
                $ @Formatos.ConvertirNumeroFormat(Convert.ToDecimal(ViewBag.Monto)) @if (ViewBag.Periodo > 0)
                {<span> - @ViewBag.Periodo días</span>}
                <a href="#edit-result" class="btn-EditarResultados fancybox"></a>
            </p>
            <!-- mobile -->
            <!--<a href="#enviar" class="mobile send fancybox">Enviar por correo</a>-->
            <a href="#enviar" class="mobile link fancybox">Enviar por correo</a>
            <div id="edit-result" class="hidden">
                <div class="middle">
                    <h3>Editar</h3>
                    <div class="btn-money"><span>$</span><input type="text" id="txtMonto" name="txtMonto" maxlength="10" placeholder="Ingresar monto Ej.: 60.5" value="@Formatos.ConvertirNumeroFormat(Convert.ToDecimal(ViewBag.Monto))" /></div>
                    <div class="btn-days">
                        <div class="select">
                            @if (ViewBag.Periodo > 0)
                            {
                                <span>@ViewBag.Periodo días</span>
                            }
                            <div class="sc">
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                        </div>
                        <ul>
                            <li data-rel="30">30 días</li>
                            <li data-rel="60">60 días</li>
                            <li data-rel="90">90 días</li>
                        </ul>
                    </div>
                    <a href="@Url.Action("Resultado","Front")" class="btn-Actualizar">Actualizar</a>
                </div>
            </div>
            <!-- /mobile -->
            <div class="content">
                <div class="title">
                    <div class="left">@ViewBag.BancoEmpresaTabla</div>
                    <div class="right">Costo Financiero</div>
                </div>
                <div class="border">
                    <div class="row">
                        @foreach (ProductoBanco i in ViewBag.ListaProductosBancos)
                        {
                            decimal GastoTotalUsualDesktop = 0;
                            decimal GastoTotalUsualMobile = 0;
                            <div class="bank">
                                <div class="summary">
                                    <div class="name">@i.Banco.Nombre</div>
                                    <div class="num" id="gastototal-@i.IdBanco">$ @Formatos.ConvertirNumeroFormat(GastoTotalUsualDesktop)</div>
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>

                                <div class="detail">
                                    <div class="table">
                                        <div class="thead">
                                            <div class="col a">Concepto</div>
                                            <div class="col b">Observaciones</div>
                                            <div class="col c">Tasa %</div>
                                            <div class="col d">Minimo $</div>
                                            <div class="col e">Máximo $</div>
                                            <div class="col f">Gastos $</div>
                                        </div>
                                        @foreach (ConceptoProductoBancoDTO cpbu in ViewBag.ListaConceptosProductosBancosUsuales)
                                        {
                                            if (i.Banco.IdBanco == cpbu.IdBanco)
                                            {
                                                <div class="tbody">
                                                    <div class="col a">
                                                        <span>@cpbu.Concepto.Nombre</span>
                                                        <!-- mobile -->
                                                        <div class="cols mobile">
                                                            <div>
                                                                <div class="row"><p>Observaciones</p><p><a href="#detalle-@cpbu.IdConcepto" class="fancybox">Detalle</a></p></div>
                                                                <div class="row"><p>Tasa</p><p>@Formatos.ConvertirNumeroFormatTasa(cpbu.Tasa30)</p></div>
                                                                <div class="row"><p>Minimo $</p><p>@Formatos.ConvertirNumeroFormat(cpbu.Minimo)</p></div>
                                                                <div class="row"><p>Máximo $</p><p>@Formatos.ConvertirNumeroFormat(cpbu.Maximo)</p></div>
                                                                <div class="row"><p>Gastos $</p><p>@Formatos.CalcularGasto(cpbu.Tasa30, Convert.ToDecimal(ViewBag.Monto), cpbu.Minimo, cpbu.Maximo, ref GastoTotalUsualMobile)</p></div>
                                                            </div>
                                                            <div id="#detalle-@cpbu.IdConcepto" class="hidden mod-ban">
                                                                @cpbu.Observaciones
                                                            </div>
                                                        </div>
                                                        <!-- /mobile -->
                                                    </div>
                                                    <div class="col b">@cpbu.Observaciones</div>
                                                    <div class="col c">@Formatos.ConvertirNumeroFormatTasa(cpbu.Tasa30)</div>
                                                    <div class="col d">@Formatos.ConvertirNumeroFormat(cpbu.Minimo)</div>
                                                    <div class="col e">@Formatos.ConvertirNumeroFormat(cpbu.Maximo)</div>
                                                    <div class="col f">@Formatos.CalcularGasto(cpbu.Tasa30, Convert.ToDecimal(ViewBag.Monto), cpbu.Minimo, cpbu.Maximo, ref GastoTotalUsualDesktop)</div>
                                                </div>
                                            }
                                        }
                                        <script>
                                            $('#gastototal-@i.IdBanco').html("$ " + "@Formatos.ConvertirNumeroFormat(GastoTotalUsualDesktop)");
                                        </script>
                                    </div>
                                    <div class="actions">
                                        <a href="#@i.IdBanco-informacion" class="fancybox"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ver información de contacto</a>
                                        @{ var Conteo = 0; }
                                        @foreach (ConceptoProductoBancoDTO cpbu in ViewBag.ListaConceptosProductosBancosEventuales)
                                        {
                                            if (i.Banco.IdBanco == cpbu.IdBanco)
                                            {
                                                Conteo = Conteo + 1;
                                            }
                                        }
                                        @if (Conteo > 0)
                                        {
                                            <a href="#@i.IdBanco-costos" class="fancybox"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ver costos eventuales</a>
                                        }
                                        <div id="@i.IdBanco-informacion" class="hidden resultado">
                                            <p>
                                                (*) Consulte la fuente de información <a target="_blank" href="@i.WebTarifario">aqui</a> o tome contacto
                                                con <a>@i.Banco.Nombre</a><br />
                                                a través de @i.Contacto
                                            </p>
                                        </div>
                                        <div id="@i.IdBanco-costos" class="hidden resultado-tabla">
                                            <h3>Costos eventuales</h3>
                                            <h4>@i.Banco.Nombre</h4>
                                            <div class="table">
                                                <div class="thead">
                                                    <div class="col a">Concepto</div>
                                                    <div class="col b">Observaciones</div>
                                                    <div class="col c">Tasa %</div>
                                                    <div class="col d">Minimo $</div>
                                                    <div class="col e">Máximo $</div>
                                                    <div class="col f">Gastos $</div>
                                                </div>
                                                @foreach (ConceptoProductoBancoDTO cpbe in ViewBag.ListaConceptosProductosBancosEventuales)
                                                {
                                                    decimal GastoTotalEventual = 0;
                                                    if (i.Banco.IdBanco == cpbe.IdBanco)
                                                    {
                                                        <div class="tbody">
                                                            <div class="col a">
                                                                <span>@cpbe.Concepto.Nombre</span>
                                                                <!-- mobile -->
                                                                <div class="cols mobile">
                                                                    <div>
                                                                        <div class="row"><p>Observaciones</p><p><a href="#detalle-@cpbe.IdConcepto" class="fancybox">Detalle</a></p></div>
                                                                        <div class="row"><p>Tasa</p><p>@Formatos.ConvertirNumeroFormatTasa(cpbe.Tasa30)</p></div>
                                                                        <div class="row"><p>Minimo $</p><p>@Formatos.ConvertirNumeroFormat(cpbe.Minimo)</p></div>
                                                                        <div class="row"><p>Máximo $</p><p>@Formatos.ConvertirNumeroFormat(cpbe.Maximo)</p></div>
                                                                        <div class="row"><p>Gastos $</p><p>@Formatos.CalcularGasto(cpbe.Tasa30, Convert.ToDecimal(ViewBag.Monto), cpbe.Minimo, cpbe.Maximo, ref GastoTotalEventual)</p></div>
                                                                    </div>
                                                                    <div id="detalle-@cpbe.IdConcepto" class="hidden mod-ban">
                                                                        @cpbe.Observaciones
                                                                    </div>
                                                                </div>
                                                                <!-- /mobile -->
                                                            </div>
                                                            <div class="col b">@cpbe.Observaciones</div>
                                                            <div class="col c">@Formatos.ConvertirNumeroFormatTasa(cpbe.Tasa30)</div>
                                                            <div class="col d">@Formatos.ConvertirNumeroFormat(cpbe.Minimo)</div>
                                                            <div class="col e">@Formatos.ConvertirNumeroFormat(cpbe.Maximo)</div>
                                                            <div class="col f">@Formatos.CalcularGasto(cpbe.Tasa30, Convert.ToDecimal(ViewBag.Monto), cpbe.Minimo, cpbe.Maximo, ref GastoTotalEventual)</div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            }
                    </div>
                </div>
                <a href="@Url.Action("Index","Front")" class="btn-Nueva">Nueva simulación</a>
            </div>
        </div>
    </div>
</section>
<div id="bancos" class="hidden">
    <h3>Seleccione @ViewBag.MensajeBancoEmpresaPopUp</h3>
    <div class="all"><label><input type="checkbox" /><span>Seleccionar todo</span></label></div>
    <ul>
        @{ ProductoBancoBL oProductoBancoBL = new ProductoBancoBL(); }
        @foreach (Banco i in ViewBag.ListaBancos)
        {
            bool Foco = false;
            foreach (string bco in ViewBag.BancosArray)
            {
                if (bco == i.IdBanco)
                {
                    <li><label class="selected"><input class="be-seleccion" type="checkbox" data-id="@i.IdBanco" data-productos="@oProductoBancoBL.SelectIdProductoByBanco(i.IdBanco)" /><span>@i.Nombre</span></label></li>
                    Foco = true;
                }
            }
            if (!Foco)
            {
                <li><label><input type="checkbox" class="be-seleccion" data-id="@i.IdBanco" data-productos="@oProductoBancoBL.SelectIdProductoByBanco(i.IdBanco)" /><span>@i.Nombre</span></label></li>
            }
        }
    </ul>
    <a class="btn-Select">Seleccionar</a>
</div>
<div id="enviar" class="hidden">
    <h3>Envío por correo</h3>
    <input id="txtemail" type="email" class="email" placeholder="Ingresar correo" />
    <button id="btnEnviar" type="button" class="btn-Enviar">Enviar</button>
    @*<a class="btn-Enviar">Enviar</a>*@
</div>
<input type="hidden" id="hdMensajeValidacionBanco" />
<input type="hidden" id="url" data-urlenviarmail="@Url.Action("EnviarEmail","Front")" />